# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Spark
spark-warehouse/
metastore_db/
derby.log

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Data Outputs
data/bronze/
data/silver/
data/gold/

# Temporary Files
*.tmp
*.bak